*.prj
*.log
*.xmsgs
*.cmd
*.exe
*.o
*.c
*.html
*.xreport
*.ini
*.lst
*.lso
*.bld
*.cmd_log
*.ngc
*.ngd
*.ngr
*.stx
*.syr
*.xst
*.map
*.mrp
*.xrpt
*.didat
*.dbg
*.dat
*_1
*pn_info
*lockfile
*.vdb
*.wdb

